/* .products-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
} */

.product{
    height: 510px;
    width: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    /* margin: 10px; */
    /* margin: 0px; */
}
.product img{
    max-width: 100%;
    margin: 7px;
    border-radius: 5px;
}
.products-container{
    margin: 5px 0;
}
.cart-btn{
    border-radius: 0 0 8px 8px;
    width: 100%;
    background-color: bisque;
}
.cart-btn:hover{
    background-color: coral;
    color: white;
}